body{
    color:black;
    background-color:whitesmoke;
    text-align: center;
    font-family: 'Nunito';
    margin: 0 auto;
}
/* Estilos básicos para os cartões e contêiner */
.atleta-card {
    display: inline-block;
    box-sizing: border-box;
    margin: 20px;
    /* Adicione outros estilos necessários para o seu layout */
  }
  
  .atleta-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Centralizar a imagem horizontalmente */
  }
  
  .elenco-container {
    max-width: 1200px;
    margin: 0 auto;
    /* Outros estilos para o contêiner do elenco */
  }
  
  /* Media Queries */
  /* Uma coluna até 768px */
  @media (max-width: 768px) {
    .atleta-card {
      width: calc(100% - 40px); /* Ajuste de largura para criar uma coluna */
    }
  }
  
  /* Duas colunas até 1024px */
  @media (min-width: 769px) and (max-width: 1024px) {
    .atleta-card {
      width: calc(50% - 40px); /* Ajuste de largura para criar duas colunas */
    }
  }
  
  /* Quatro colunas depois de 1024px */
  @media (min-width: 1025px) {
    .atleta-card {
      width: calc(25% - 40px); /* Ajuste de largura para criar quatro colunas */
    }
  }
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color:black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  