body{
  background-image: url('../images/botafogo.fundo.webp');
    background-size: cover; /* Isso ajusta o tamanho da imagem para cobrir toda a área do elemento pai */
    background-position: initial; /* Isso centraliza a imagem */
    color:white;
    
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    
    
}

h1{
  font-size: larger; background-color:black; color: aliceblue;
}


input[type="password"] {
  padding: 10px;
  margin: 10px;
}
input[type="button"] {
  padding: 10px 20px;
  background-color:dimgray;
  color: white;
  border: none;
}
/* Estilos básicos para os cartões e contêiner */
.atleta-card {
    display: inline-block;
    box-sizing: border-box;
    margin: 20px;
    /* Adicione outros estilos necessários para o seu layout */
  }
  
  .atleta-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Centralizar a imagem horizontalmente */
  }
  
  .elenco-container {
    max-width: 1200px;
    margin: 0 auto;
    /* Outros estilos para o contêiner do elenco */
  }
  
  /* Media Queries */
  /* Uma coluna até 768px */
  @media (max-width: 768px) {
    .atleta-card {
      width: calc(100% - 40px); /* Ajuste de largura para criar uma coluna */
    }
  }
  
  /* Duas colunas até 1024px */
  @media (min-width: 769px) and (max-width: 1024px) {
    .atleta-card {
      width: calc(50% - 40px); /* Ajuste de largura para criar duas colunas */
    }
  }
  
  /* Quatro colunas depois de 1024px */
  @media (min-width: 1025px) {
    .atleta-card {
      width: calc(25% - 40px); /* Ajuste de largura para criar quatro colunas */
    }
  }
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color:black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  @media only screen and (max-width: 768px) {
    .filtro-btn {
        display: none; /* Oculta os botões */
    }

    #filtro-selecao {
        display: inline-block; /* Mostra o botão de seleção */
    }
}